<div class="container">

<h1>Bienvenidos a la página web de SiscoBank</h1>

    <div class="col-md-12">

    <p> En el año 2017 surge entre las instituciones financieras, un banco universal denominado SiscoBank C.A.
Este banco nace con el objetivo de alcanzar una sólida presencia en mercados de alto potencial, impulsado por la Innovación
y Pasión por el logro a la Excelencia. Por tanto, se esfuerza día a día para ser una marca líder 
gracias a una estrategia de crecimiento sostenido y rentable, basada en el desarrollo y entrega de soluciones
de altísimo valor agregado a nuestros clientes.</p>

    </div>

   
</div>

<div class="container" align="right">
<%= link_to "+", new_user_path, class: "btn-floating btn-large waves-effect waves-light pulse indigo", method: :get %>
</div>